.icon-48-searches {
      background-image: url(../images/l_searches.png);
      padding-left:60px!important;
}

.icon-48-search {
      background-image: url(../images/l_searches.png);
      padding-left:60px!important;
}

